<div class="background-image">
    <div class="container">


        <div class="main">
            <div class="row">
                <div class="col"></div>
                <div class="col" style="color: white;">
                    <h1>Login SBN Bank</h1>
                </div>
                <div class="col"></div>
                <!-- <input type="text" [(ngModel)] = "test"> -->
                <form [formGroup]="loginForm" (ngSubmit)="login()">

                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label" style="color: white;">UserName <span class="required"style="color: red;" >*</span></label>
                        <input formControlName="username" name="username" type="text" class="form-control" 
                            aria-describedby="emailHelp">
                            <label *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors?.required" style="color: red;" for="" id="uinvalid">UserName is required</label>
                        <div id="emailHelp" class="form-text" style="color: white;">We'll never share your email with
                            anyone
                            else.</div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label " style="color: white;">Password <span class="required" style="color: red;">*</span></label>
                        <input formControlName="password" name="password" type="password" class="form-control" >
                        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors" >
                            <label *ngIf="loginForm.get('password')?.errors?.required" style="color: red;" for="" id="pinvalid">password is required</label>
                            <label *ngIf="loginForm.get('password')?.errors?.minlength" style="color: red;" for="" id="pinvalid">password must be atleast 5 characters</label>
                            
                        </div>
                        
                    </div>
                    <br>

                    <button type="submit" class="btn btn-dark">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>